.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

.search-button {
  background: rgb(83, 46, 168);
  padding: 10px 20px;
  color: white;
  border-style: solid;
  border-width: 1px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
